.mabe{
  
    margin-left: auto;
    margin-right: auto;
    padding-top: 125px;
    background: #FFF5F6;

    @media   (min-width: 768px){
        padding-top: 130px;
        width:100%;
    }
    @media   (min-width: 1280px){
        padding-top: 125px;
        width:100%;
    }

}
.mabe__tradition{
    font-family: Titan One;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    margin-bottom: 15px; 

    @media  (min-width: 768px){
        font-size: 26px;
        line-height: 30px;
    }
    @media  (min-width: 1280px){
        font-size: 30px;
        line-height: 34px;
    } 
}

.mabe__text{
    font-family: Titan One;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443; 
    margin-bottom: 25px;

    @media  (min-width: 768px){
        font-size: 48px;
        line-height: 55px;
        margin-bottom: 50px;
    }

    @media  (min-width: 1280px){
        font-size: 58px;
        line-height: 66px;
        margin-bottom: 55px;
    }

}


.mabe__img {
    display: block;
    width: 280px;
    height: auto; 
   object-fit: cover; 

   @media  (min-width: 768px){
      width: 340px;
    }
    @media  (min-width: 1280px){
        width: 516px;
      }
  } 

  .mabe__box{
    position: relative;
    margin-bottom: 17px;
    display: block;

    @media   (min-width: 768px){
       margin-left: 17px;
       margin-bottom: 62px;
    }
    @media   (min-width: 768px){
        margin-left: 74px;
        margin-bottom: 45px;
     }
}


.mabe__title{
  
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: #000000; 
    margin-bottom: 47px;
    padding-left: 30px;
    padding-right: 30px;

    @media  (min-width: 768px){
     font-size: 14px;
      line-height: 176%;
      margin-bottom: 47px;
      padding-left: 0px;
      padding-right: 16px;
   
    } 
    @media  (min-width: 1280px){
         font-size: 16px;
         line-height: 176%;
         margin-bottom: 35px;
         padding-left: 0px;
         padding-right: 0px;
      
       } 
   
}
.mabe__list{
   
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: #907E82;
    padding-left: 30px;
    padding-right: 30px;
   
    @media  (min-width: 768px){
      font-size: 14px;
     line-height: 176%;
     padding-left: 0px;
     padding-right: 16px;
    
    } 
   
    @media  (min-width: 768px){
        font-size: 14px;
       line-height: 194%;
       padding-left: 0px;
       padding-right: 16px;
      
      } 
}
.mabe__love{
    @media   (min-width: 768px){
        display: flex;
    } 
}
.mabe__cow{
    margin-bottom: 26px;
    @media  (min-width: 768px){
        margin-bottom: 0px;
    }
}

.mabe__bg {
    position: absolute;
    width: 320px;
    height: 133px;
    bottom: 0px;
    left: -20px;
    @media  (min-width: 768px){
       max-width: 320px;
    } 

    @media  (min-width: 768px){
      display: none;
    } 
}
.mabe__accumsan{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: #907E82; 
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 12px;

    @media  (min-width: 768px){
        font-size: 14px;
       line-height: 176%;
       padding-left: 0px;
     }
}

.mabe__button{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    justify-content: center;
    color: #D41443; 
    width: 176px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
   
    @media   (min-width: 768px){
        margin-left: 396px;
     } 
 
}
.mabe__icon{
    width: 4.43px;
    height: 8px;
    left: 183.62px;
    fill: #D41443;;
    
     
}